.container {
    /* max-width: 1700px; */
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    height: 100%;
    align-items: center;
}
.flex-between {
    justify-content: space-between;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.flex-center {
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}

.flx-around {
    justify-content: space-around;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.grid-fr-1 {
    grid-template-columns: repeat(1, 1fr);
}
.grid-fr-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-fr-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-fr-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-fr-5 {
    grid-template-columns: repeat(5, 1fr);
}
.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border: none;
    background-color: var(--btn-blue);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn:hover {
    transform: scale(0.98);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 25px;
}
.mt-6 {
    margin-top: 30px;
}
.mt-7 {
    margin-top: 35px;
}
.mt-8 {
    margin-top: 40px;
}
.mt-9 {
    margin-top: 45px;
}
.mt-10 {
    margin-top: 50px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.mb-4 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 25px;
}
.mb-6 {
    margin-bottom: 30px;
}
.mb-7 {
    margin-bottom: 35px;
}
.mb-8 {
    margin-bottom: 40px;
}
.mb-9 {
    margin-bottom: 45px;
}
.mb-10 {
    margin-bottom: 50px;
}

.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 15px;
}

.mr-4 {
    margin-right: 20px;
}

.mr-5 {
    margin-right: 25px;
}
.mr-6 {
    margin-right: 30px;
}
.mr-7 {
    margin-right: 35px;
}
.mr-8 {
    margin-right: 40px;
}
.mr-9 {
    margin-right: 45px;
}
.mr-10 {
    margin-right: 50px;
}
.br-1 {
    border-radius: 5px;
}
.br-2 {
    border-radius: 10px;
}
.br-3 {
    border-radius: 15px;
}
.br-4 {
    border-radius: 20px;
}
.br-full {
    border-radius: 100%;
}
